red{
    color:#f33;
}
green{
    color:#3f3;
}
lightblue{
    color:#3ff;
}
blue{
    color:#6cf;
}
yellow{
    color:#ff3;
}
purple{
    color:#f3f;
}
darkblue{
    color:#33f;
}
white{
    color:#fff;
}
black{
    color:#000;
}
grey{
    color:#aaa;
}